<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Обзор-данных" data-toc-modified-id="Обзор-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Обзор данных</a></span><ul class="toc-item"><li><span><a href="#Вывод-по-шагу-1." data-toc-modified-id="Вывод-по-шагу-1.-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Вывод по шагу 1.</a></span></li></ul></li><li><span><a href="#Предобработка-данных" data-toc-modified-id="Предобработка-данных-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Предобработка данных</a></span><ul class="toc-item"><li><span><a href="#Обработка-аномальных-значений-в-days_employed." data-toc-modified-id="Обработка-аномальных-значений-в-days_employed.-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Обработка аномальных значений в <code>days_employed</code>.</a></span></li><li><span><a href="#Обработка-значений-в-столбце-education" data-toc-modified-id="Обработка-значений-в-столбце-education-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Обработка значений в столбце <code>education</code></a></span></li><li><span><a href="#Обработка-пропущенных-значений-в-количественных-переменных." data-toc-modified-id="Обработка-пропущенных-значений-в-количественных-переменных.-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Обработка пропущенных значений в количественных переменных.</a></span></li><li><span><a href="#Изменение-типов-данных-с-float-на-int." data-toc-modified-id="Изменение-типов-данных-с-float-на-int.-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Изменение типов данных с <code>float</code> на <code>int</code>.</a></span></li><li><span><a href="#Проверка-опечаток-в-категориальных-данных." data-toc-modified-id="Проверка-опечаток-в-категориальных-данных.-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Проверка опечаток в категориальных данных.</a></span></li><li><span><a href="#Обработка-строк-дубликатов." data-toc-modified-id="Обработка-строк-дубликатов.-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>Обработка строк-дубликатов.</a></span></li><li><span><a href="#Создание-&quot;словарей&quot;-категориальных-данных." data-toc-modified-id="Создание-&quot;словарей&quot;-категориальных-данных.-2.7"><span class="toc-item-num">2.7&nbsp;&nbsp;</span>Создание "словарей" категориальных данных.</a></span></li><li><span><a href="#Категоризация-ежемесячного-дохода." data-toc-modified-id="Категоризация-ежемесячного-дохода.-2.8"><span class="toc-item-num">2.8&nbsp;&nbsp;</span>Категоризация ежемесячного дохода.</a></span></li><li><span><a href="#Категоризация-цели-кредита." data-toc-modified-id="Категоризация-цели-кредита.-2.9"><span class="toc-item-num">2.9&nbsp;&nbsp;</span>Категоризация цели кредита.</a></span></li><li><span><a href="#Вывод-по-шагу-2." data-toc-modified-id="Вывод-по-шагу-2.-2.10"><span class="toc-item-num">2.10&nbsp;&nbsp;</span>Вывод по шагу 2.</a></span></li></ul></li><li><span><a href="#Ответы-на-вопросы" data-toc-modified-id="Ответы-на-вопросы-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Ответы на вопросы</a></span><ul class="toc-item"><li><span><a href="#Предварительный-анализ-данных-по-возврату-кредита" data-toc-modified-id="Предварительный-анализ-данных-по-возврату-кредита-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Предварительный анализ данных по возврату кредита</a></span></li><li><span><a href="#Есть-ли-зависимость-между-количеством-детей-и-возвратом-кредита-в-срок?" data-toc-modified-id="Есть-ли-зависимость-между-количеством-детей-и-возвратом-кредита-в-срок?-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Есть ли зависимость между количеством детей и возвратом кредита в срок?</a></span></li><li><span><a href="#Есть-ли-зависимость-между-семейным-положением-и-возвратом-кредита-в-срок?" data-toc-modified-id="Есть-ли-зависимость-между-семейным-положением-и-возвратом-кредита-в-срок?-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Есть ли зависимость между семейным положением и возвратом кредита в срок?</a></span></li><li><span><a href="#Есть-ли-зависимость-между-уровнем-дохода-и-возвратом-кредита-в-срок?" data-toc-modified-id="Есть-ли-зависимость-между-уровнем-дохода-и-возвратом-кредита-в-срок?-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Есть ли зависимость между уровнем дохода и возвратом кредита в срок?</a></span></li><li><span><a href="#Как-разные-цели-кредита-влияют-на-его-возврат-в-срок?" data-toc-modified-id="Как-разные-цели-кредита-влияют-на-его-возврат-в-срок?-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Как разные цели кредита влияют на его возврат в срок?</a></span></li><li><span><a href="#Вывод-по-шагу-3." data-toc-modified-id="Вывод-по-шагу-3.-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>Вывод по шагу 3.</a></span></li></ul></li><li><span><a href="#Выводы-исследования" data-toc-modified-id="Выводы-исследования-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Выводы исследования</a></span><ul class="toc-item"><li><span><a href="#Для-изучения-данных-была-проведена-первичная-обработка,-исключающая-возможность-ошибки-при-анализе." data-toc-modified-id="Для-изучения-данных-была-проведена-первичная-обработка,-исключающая-возможность-ошибки-при-анализе.-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Для изучения данных была проведена первичная обработка, исключающая возможность ошибки при анализе.</a></span></li><li><span><a href="#Была-проведена-группировка-качественных-и-количественных-данных" data-toc-modified-id="Была-проведена-группировка-качественных-и-количественных-данных-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Была проведена группировка качественных и количественных данных</a></span></li><li><span><a href="#По-поставленным-вопросам-были-сделаны-следующие-выводы:" data-toc-modified-id="По-поставленным-вопросам-были-сделаны-следующие-выводы:-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>По поставленным вопросам были сделаны следующие выводы:</a></span></li><li><span><a href="#Дополнительные-воводы:" data-toc-modified-id="Дополнительные-воводы:-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>Дополнительные воводы:</a></span></li></ul></li></ul></div>

# Исследование надежности заемщиков.

## Обзор данных

Загрузим библиотеку `pandas`, загрузим и откроем датасет.

In [1]:
import pandas as pd

In [2]:
# Для запуска кода с разных машин, прописано два пути к данным

import os

pth1 = '/datasets/data.csv'
pth2 = 'file_name_project_2.csv'

if os.path.exists(pth1):
    df = pd.read_csv(pth1)
elif os.path.exists(pth2):
    df = pd.read_csv(pth2)
else:
    print('Датасет не найден, проверьте путь к файлу')

In [3]:
df.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи

In [4]:
df.tail()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
21520,1,-4529.316663,43,среднее,1,гражданский брак,1,F,компаньон,0,224791.862382,операции с жильем
21521,0,343937.404131,67,среднее,1,женат / замужем,0,F,пенсионер,0,155999.806512,сделка с автомобилем
21522,1,-2113.346888,38,среднее,1,гражданский брак,1,M,сотрудник,1,89672.561153,недвижимость
21523,3,-3112.481705,38,среднее,1,женат / замужем,0,M,сотрудник,1,244093.050500,на покупку своего автомобиля
21524,2,-1984.507589,40,среднее,1,женат / замужем,0,F,сотрудник,0,82047.418899,на покупку автомобиля

Выведем основную информацию о данных:

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

### Вывод по шагу 1.

*тип данных в столбцах необходимо учитывать при обработке значений*
*названия столбцов соответствуют общепринятой традиции*

**Что надо исправить:**

1. Столбцы `days_employed` и `total_income` содержат по 2174 нулевых значения.
2. Все столбцы с данными `str` надо проверить на опечатки - вывести список уникальных значений.
3. Столбец `days_employed` содержит большое число аномальных отрицательных значений.
4. В столбце `education` есть опечатки из-за различного регистра букв.
5. Необходимо проверить на явные и скрытые дубликаты.
6. Заменить в столбцах `days_employed` и `total_income` тип данных с `float` на `int`.

## Предобработка данных

### Обработка аномальных значений в `days_employed`.

Определим сколько всего и долю отрицательных значений в `days_employed`.

In [6]:
# столбец `days_employed` может содержать данные типа 'str'.
# сравнение `'str' < 0` даст ошибку кода
# что бы избежать ошибки, применим конструкцию try-except
try:
    print(df[df['days_employed'] < 0]['debt'].count())

# посчитаем процент отрицательных значений
    na_percent = df[df['days_employed'] < 0]['debt'].count()/(df['debt'].count())
    print(f'Доля отрицательных значений в столбце days_employed: {na_percent: .0%}')
    
except:
    print('Столбец days_employed содержит необрабатываемые значения!')

15906
Доля отрицательных значений в столбце days_employed:  74%

**Более 70% значений отрицательные.**

Вероятнее всего это следствие ошибки обработки исходных данных: минус перед значением - это тире в исходной таблице.
Поэтому, отрицательные значения надо заменить на их модуль.

In [7]:
# столбец `days_employed` может содержать данные типа 'str'.
# сравнение `'str' < 0` даст ошибку кода
# что бы избежать ошибки, применим конструкцию try-except
try:
    df['days_employed'] = df['days_employed'].abs()

# Проверим результат
    na_percent = df[df['days_employed'] < 0]['debt'].count()/(df['debt'].count())
    print(f'Доля отрицательных значений в столбце days_employed: {na_percent: .0%}')
    
except:
    print('Столбец days_employed содержит необрабатываемые значения!')

Доля отрицательных значений в столбце days_employed:  0%

**Результат:** *полученая таблица больше не содержит отрицательных значений в столбце `days_employed`.*

### Обработка значений в столбце `education`

Определим все варианты значений в столбце `education`

In [8]:
df['education'].value_counts()

среднее                13750
высшее                  4718
СРЕДНЕЕ                  772
Среднее                  711
неоконченное высшее      668
ВЫСШЕЕ                   274
Высшее                   268
начальное                250
Неоконченное высшее       47
НЕОКОНЧЕННОЕ ВЫСШЕЕ       29
НАЧАЛЬНОЕ                 17
Начальное                 15
ученая степень             4
Ученая степень             1
УЧЕНАЯ СТЕПЕНЬ             1
Name: education, dtype: int64

Причины появления дубликатов:
* Данные об образовании заводятся в системе вручную, что приводит к несогласованному написанию
* Возможно, существует несколько анкет об образовании, в которых уровень образования написан по-разному.
* Отдельные данные могли в разных системах пройти предварительную обработку и приведены к разному формату.

Приведем все варианты написания к нижнему регистру.

In [9]:
df['education'] = df['education'].str.lower()

# Проверка результата
df['education'].value_counts()

среднее                15233
высшее                  5260
неоконченное высшее      744
начальное                282
ученая степень             6
Name: education, dtype: int64

**Результат:** *полученая таблица больше не содержит скрытые дубликаты.*

### Обработка пропущенных значений в количественных переменных.

Посчитаем количество и долю пропущенных знечений в столбцах `days_employed` и `total_income`.

In [10]:
print('Количество пропущеных значений days_employed: ', df['days_employed'].isna().sum())
print('Доля пропущеных значений days_employed: ', df['days_employed'].isna().sum()/len(df['days_employed']))

print('')

print('Количество пропущеных значений days_employed: ', df['days_employed'].isna().sum())
print('Доля пропущеных значений total_income: ', df['total_income'].isna().sum()/len(df['total_income']))

Количество пропущеных значений days_employed:  2174
Доля пропущеных значений days_employed:  0.10099883855981417

Количество пропущеных значений days_employed:  2174
Доля пропущеных значений total_income:  0.10099883855981417

Доля пропущенных значений достаточно высока.

Значения могут отсутствовать по двум причинам: 
* из-за отсутствия информации в базе данных о трудовом стаже.
* из-за отсутствия стажа у респондента в связи с молодостью или неоконченным образованием.

Проверим вторую теорию.

In [11]:
# Таблица df_uncnown содержит только те значений, где были пропуски
# Заполним пропуски значением 'unknown'
df_uncnown = df.fillna('unknown')
# Удалим все существующие значения
df_uncnown = df_uncnown[df_uncnown['days_employed'] == 'unknown']

In [12]:
# Посмотрим, как пропуски связаны с уровнем образования и должностью
df_pivot = df_uncnown.pivot_table(index=['education', 'income_type'], values='debt', aggfunc='count')

df_pivot

                                     debt
education           income_type
высшее              госслужащий        62
                    компаньон         188
                    пенсионер          57
                    предприниматель     1
                    сотрудник         236
начальное           госслужащий         2
                    компаньон           1
                    пенсионер           6
                    сотрудник          12
неоконченное высшее госслужащий         6
                    компаньон          20
                    пенсионер           6
                    сотрудник          37
среднее             госслужащий        77
                    компаньон         299
                    пенсионер         344
                    сотрудник         820

*Связи различных параметров респондентов и отсутствием значений нет. Неизвестен статус и средний доход как у людей с высшим, так и начальным образованием, как у пенсионеров так и у госслужащих и др.*

**Вывод:**
Появление пропусков не связано со статусом работников, а вызвано отсутствием данных.

Заменим все пропущенные значения в столбцах `days_employed` и `total_income` на медианное значение:
* медианное значение в данном случае лучше среднего, поскольку более точно отражает средний уровень зарплат и трудового стажа, не реагируя на выколотые слишком большие значения, которые могут быть например у компаньонов.

In [13]:
# Что бы избежать падения в случае появления типа 'str', поместим вычисления в структуру try-except
try:

# вычисляем медиану и заменяем на нее пропуски для двух столбцов
    median_days_employed = df['days_employed'].median()
    df['days_employed'] = df['days_employed'].fillna(median_days_employed)

    median_total_income = df['total_income'].median()
    df['total_income'] = df['total_income'].fillna(median_total_income)

# Проверим, что медианные значения в этих столбцах не поменялись
    print('Медиана в days_employed не изменилась: ', median_days_employed == df['days_employed'].median())
    print('Медиана в total_income не изменилась: ', median_total_income == df['total_income'].median())
    print('__________________', '\n')

except:
    print('Столбец days_employed содержит необрабатываемые значения!')

# Проверим, что пропусков не осталось
df.info()

Медиана в days_employed не изменилась:  True
Медиана в total_income не изменилась:  True
__________________

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     21525 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      21525 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

**Результат:** *в данных отсутствуют пропуски.*

### Изменение типов данных с `float` на `int`.

Изменим тип данных в столбцах `days_employed` и `total_income` на `float`:
* такой тип данных больше соответствует смыслу - количество отработаных дней и среднюю зарплату логичнее хранить в целочисленном формате.

In [14]:
# изменение типа
df['total_income'] = df['total_income'].astype('int')
df['days_employed'] = df['days_employed'].astype('int')

# Проверка результата
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     21525 non-null  int32
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      21525 non-null  int32
 11  purpose           21525 non-null  object
dtypes: int32(2), int64(5), object(5)
memory usage: 1.8+ MB

**Результат:** *типы данных приведены к необходимому формату.*

### Проверка опечаток в категориальных данных.

Кроме очевидных и исправленных ошибок в данных могут быть скрытые дубликаты или опечатки.
Найдем их с помощью списка уникальных значений в каждом столбце с типом `str`.

In [15]:
df.columns

Index(['children', 'days_employed', 'dob_years', 'education', 'education_id',
       'family_status', 'family_status_id', 'gender', 'income_type', 'debt',
       'total_income', 'purpose'],
      dtype='object')

In [16]:
# для начала выберем только эти столбцы с небольшим количеством вариантов
df_columns = ['children', 'education', 'education_id',
       'family_status', 'family_status_id', 'gender', 'income_type', 'debt']
for col in df_columns:
    print(df[col].value_counts())
    print('----------------', '\n')

 0     14149
 1      4818
 2      2055
 3       330
 20       76
-1        47
 4        41
 5         9
Name: children, dtype: int64
----------------

среднее                15233
высшее                  5260
неоконченное высшее      744
начальное                282
ученая степень             6
Name: education, dtype: int64
----------------

1    15233
0     5260
2      744
3      282
4        6
Name: education_id, dtype: int64
----------------

женат / замужем          12380
гражданский брак          4177
Не женат / не замужем     2813
в разводе                 1195
вдовец / вдова             960
Name: family_status, dtype: int64
----------------

0    12380
1     4177
4     2813
3     1195
2      960
Name: family_status_id, dtype: int64
----------------

F      14236
M       7288
XNA        1
Name: gender, dtype: int64
----------------

сотрудник          11119
компаньон           5085
пенсионер           3856
госслужащий         1459
безработный            2
предприниматель        2
студент                1
в декрете              1
Name: income_type, dtype: int64
----------------

0    19784
1     1741
Name: debt, dtype: int64
----------------

**Вывод:** неявные опечатки содержатся в столбцах `children` и `gender`.

1. Опечатки в столбце `children` - их менее 0,6%.
Скорее всего появились из-за ошибок в заполнении данных - возможно, лишний `0` или тире.
Поскольку их немного, удалим строки с этими ошибками для того, что бы избежать неверной трактовки.

In [17]:
# Удаление строк с неверным значенийм
df = df[df['children'] != 20]
df = df[df['children'] != -1]

# Проверка результата
print(df['children'].value_counts())
df.shape

0    14149
1     4818
2     2055
3      330
4       41
5        9
Name: children, dtype: int64

(21402, 12)

2. Удалим единственную строку с неизвестным значением в столбце `gender`.

In [18]:
# Удаление строк с неверным значенийм
df = df[df['gender'] != 'XNA']

# Проверка результата
print(df['gender'].value_counts())
df.shape

F    14154
M     7247
Name: gender, dtype: int64

(21401, 12)

3. Осталось проверить столбец `dob_years`.

In [19]:
dob_years_unique = df['dob_years'].unique()
sorted(dob_years_unique)

[0,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75]

Очевидно, что значение `0` - отсутствие данных о возрасте. Определим, сколько таких строк.

In [20]:
na_dob_years = df['dob_years'][df['dob_years'] == 0].count()
print('Количество неизвестных данных в dob_years: ', na_dob_years)
print(f'Процент неизвестных данных в dob_years: {(na_dob_years/len(df["dob_years"])): .2%}')

Количество неизвестных данных в dob_years:  100
Процент неизвестных данных в dob_years:  0.47%

Поскольку возраст клиента важен для анализа, а их процент менее 0,5%, удалим данные с проущенными значениями.

In [21]:
# Удаление строк с неверным значенийм
df = df[df['dob_years'] != 0]

# Проверка результата
df.shape

(21301, 12)

**Результат:** *в столбцах с категориальными значениями нет опечаток, скрытых дубликатов и отсутствующих значений.*

### Обработка строк-дубликатов.

Определим с помощью метода `duplicated()` наличие в данных полных дубликатов.

In [22]:
print(f'Количество дубликатов: {df.duplicated().sum()}')
print(f'Доля дубликатов: {df.duplicated().sum()/len(df): .2%}')

Количество дубликатов: 71
Доля дубликатов:  0.33%

Дубликатов менее 0.5%, поэтому можно удалить лишние строки без потери информации.

Возможные причины появления дубликатов:
* данные о клиентах взяты из разных источников, которые могут частично пересекаться
* некоторые клиенты могли завести двойные аккаунты, что приводит к дубликации данных (например, зарегистрироваться в разных регионах)

In [23]:
# Удалим дубликаты и восстановим индексацию в данных
df = df.drop_duplicates().reset_index(drop=True)

# Проверим, что получилось
print(f'Количество дубликатов: {df.duplicated().sum()}')
df.shape

Количество дубликатов: 0

(21230, 12)

**Результат:** *в таблице не осталось строк-дубликатов.*

### Создание "словарей" категориальных данных.

In [24]:
df.columns

Index(['children', 'days_employed', 'dob_years', 'education', 'education_id',
       'family_status', 'family_status_id', 'gender', 'income_type', 'debt',
       'total_income', 'purpose'],
      dtype='object')

Столбцы `education`, `education_id` и `family_status`, `family_status_id` содержат повторяющуюся информацию. Для удобства работы с категориями в основном датафрейме, удалим словестное описание категорий, создав два "словаря" для них.

In [25]:
# educational_dict - "словарь" с описанием уровня образования
educational_dict = df[['education', 'education_id']]

# удалим из educational_dict дубликаты, обновим индексы
educational_dict = educational_dict.drop_duplicates().reset_index(drop=True)
educational_dict

             education  education_id
0               высшее             0
1              среднее             1
2  неоконченное высшее             2
3            начальное             3
4       ученая степень             4

In [26]:
# family_status_dict - "словарь" с описанием уровня образования
family_status_dict = df[['family_status', 'family_status_id']]

# удалим из family_status_dict дубликаты, обновим индексы
family_status_dict = family_status_dict.drop_duplicates().reset_index(drop=True)
family_status_dict

           family_status  family_status_id
0        женат / замужем                 0
1       гражданский брак                 1
2         вдовец / вдова                 2
3              в разводе                 3
4  Не женат / не замужем                 4

Теперь можно удалить из исходного датасета лишние столбцы

In [27]:
df = df[['children', 'days_employed', 'dob_years', 'education_id',
       'family_status_id', 'gender', 'income_type', 'debt',
       'total_income', 'purpose']]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21230 entries, 0 to 21229
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21230 non-null  int64
 1   days_employed     21230 non-null  int32
 2   dob_years         21230 non-null  int64
 3   education_id      21230 non-null  int64
 4   family_status_id  21230 non-null  int64
 5   gender            21230 non-null  object
 6   income_type       21230 non-null  object
 7   debt              21230 non-null  int64
 8   total_income      21230 non-null  int32
 9   purpose           21230 non-null  object
dtypes: int32(2), int64(5), object(3)
memory usage: 1.5+ MB

**Результат:**
* *В датафрейме `df` не осталось описаний категориальных данных.*
* *Датафрейм `family_status_dict` - "словарь" для семейного положения.*
* *Датафрейм `educational_dict` - "словарь" для уровня образования.*

### Категоризация ежемесячного дохода.

Для анализа связи уровня дохода с возвратом кредита, создадим категории уровня ежемесячного дохода:
* 0–30000 — `E`
* 30001–50000 — `D`
* 50001–200000 — `C`
* 200001–1000000 — `B`
* больше 1000000 — `A`

Для выполнения задачи создадим функцию, присваивающую категорию в зависимости от дохода, после чего применим ее к столбцу `total_income`.

In [28]:
def income_category_func(income):
    """ Функция принимает доход и возвращает категорию по следующему закону:
    0–30000 — `E`
    30001–50000 — `D`
    50001–200000 — `C`
    200001–1000000 — `B`
    больше 1000000 — `A`
    
    
    Что бы избежать падения функции в случае передачи ей значения типа `str`, поместим все в try-except"""
    
    try:
        if income > 1000000:
            return 'A'
        elif income > 200000:
            return 'B'
        elif income > 50000:
            return 'C'
        elif income > 30000:
            return 'D'
        elif income > 0:
            return 'E'
        else:
            return f'Ошибка данных, знечение дохода: {income}'
    except:
        return 'Ошибка данных, доход не типа "int" или "float"'

In [29]:
# Проверим работоспособность функции income_category
print(income_category_func(10**10))
print(income_category_func(10**5))
print(income_category_func(10**2))
print(income_category_func(-10**10))
print(income_category_func('10**10'))

A
C
E
Ошибка данных, знечение дохода: -10000000000
Ошибка данных, доход не типа "int" или "float"

In [30]:
# Теперь применим функцию к столбцу total_income
df['total_income_category'] = df['total_income'].apply(income_category_func)
df.head()

,children,days_employed,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category
0,1,8437,42,0,0,F,сотрудник,0,253875,покупка жилья,B
1,1,4024,36,1,0,F,сотрудник,0,112080,приобретение автомобиля,C
2,0,5623,33,1,0,M,сотрудник,0,145885,покупка жилья,C
3,3,4124,32,1,0,M,сотрудник,0,267628,дополнительное образование,B
4,0,340266,53,1,1,F,пенсионер,0,158616,сыграть свадьбу,C

Узнаем, какие категории и в каком количестве присутствуют в таблице

In [31]:
df['total_income_category'].value_counts()

C    15850
B     4986
D      347
A       25
E       22
Name: total_income_category, dtype: int64

Все доходы обработаны в категории, ошибок нет.

**Результат:** *в основном датафрейме создан новый столбец `total_income_category`, описывающий категорию уровня ежемесячного дохода клиентов.*

### Категоризация цели кредита.

**Цель:**
Создать категории для целей кредита:
* 'операции с автомобилем'
* 'операции с недвижимостью'
* 'проведение свадьбы'
* 'получение образования'

Для начала определим, какие варианты встречаются в столбце `purpose`.

In [32]:
df['purpose'].value_counts()

свадьба                                   785
на проведение свадьбы                     759
сыграть свадьбу                           755
операции с недвижимостью                  669
покупка коммерческой недвижимости         655
покупка жилья для сдачи                   647
операции с коммерческой недвижимостью     643
операции с жильем                         641
покупка жилья для семьи                   636
жилье                                     635
покупка жилья                             634
недвижимость                              627
строительство собственной недвижимости    626
операции со своей недвижимостью           623
строительство недвижимости                619
покупка своего жилья                      618
строительство жилой недвижимости          617
покупка недвижимости                      612
ремонт жилью                              602
покупка жилой недвижимости                599
на покупку своего автомобиля              501
заняться высшим образованием              493
автомобиль                                487
сделка с подержанным автомобилем          479
автомобили                                474
на покупку подержанного автомобиля        471
свой автомобиль                           470
на покупку автомобиля                     465
приобретение автомобиля                   457
сделка с автомобилем                      454
дополнительное образование                453
высшее образование                        443
получение дополнительного образования     442
получение образования                     439
образование                               439
профильное образование                    431
получение высшего образования             423
заняться образованием                     407
Name: purpose, dtype: int64

1. Для "операции с автомобилем" ключевая часть слова "автомобил"
2. Для "операции с недвижимостью" ключевая часть слова "жиль" и "недвижимост"
3. Для "получение образования" ключевая часть слова "образован"
4. Для "проведение свадьбы" ключевая часть слова "свадьб"

Создадим функцию, которая по строке из столбца `purpose` выдаст одну из нужных категорий.

In [33]:
def purpose_category_func(client_purpose):
    """ Функция принимает строку с целью кредита и по ключевым словам возвращает одну из 4-х категорий:
    1. Для "операции с автомобилем" ключевая часть слова "автомобил"
    2. Для "операции с недвижимостью" ключевая часть слова "жиль" и "недвижимост"
    3. Для "получение образования" ключевая часть слова "образован"
    4. Для "проведение свадьбы" ключевая часть слова "свадьб"
    
    
    """
    try:
        if ('автомобил' in client_purpose):
            return 'операции с автомобилем'
        elif ('образован' in client_purpose):
            return 'получение образования'
        elif ('свадьб' in client_purpose):
            return 'проведение свадьбы'
        elif ('жиль' in client_purpose or 'недвижимост' in client_purpose):
            return 'операции с недвижимостью'
        else:
            return f'Неизвестная цель: "{client_purpose}"'
    except:
        return 'Ошибка данных, доход не типа "str"'

Проверим работу функции:

In [34]:
print(purpose_category_func('Для личных целей'))
print(purpose_category_func('свой автомобиль'))
print(purpose_category_func('заняться высшим образованием'))
print(purpose_category_func('на проведение свадьбы'))
print(purpose_category_func('ремонт жилью'))
print(purpose_category_func(98))

Неизвестная цель: "Для личных целей"
операции с автомобилем
получение образования
проведение свадьбы
операции с недвижимостью
Ошибка данных, доход не типа "str"

Применим функцию категоризации к столбцу `purpose`, создав новый столбец `purpose_category`.

In [35]:
# Теперь применим функцию к столбцу purpose
df['purpose_category'] = df['purpose'].apply(purpose_category_func)
df.head()

,children,days_employed,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,1,8437,42,0,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью
1,1,4024,36,1,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем
2,0,5623,33,1,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью
3,3,4124,32,1,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования
4,0,340266,53,1,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы

Узнаем, какие категории и в каком количестве присутствуют в таблице

In [36]:
df['purpose_category'].value_counts()

операции с недвижимостью    10703
операции с автомобилем       4258
получение образования        3970
проведение свадьбы           2299
Name: purpose_category, dtype: int64

Все цели обработаны в категории, ошибок нет.

**Результат:** *в основном датафрейме создан новый столбец `purpose_category`, описывающий категорию целей кредита клиентов.*

### Вывод по шагу 2.

*Завершена предобработка данных.*

**Что исправлено:**

1. Полученая таблица больше не содержит аномальных и отрицательных значений.
2. Полученая таблица больше не содержит явных и скрытых дубликатов.
3. В данных отсутствуют пропуски.
4. Типы данных приведены к необходимому формату.
5. В основном датафрейме создан новый столбец `total_income_category`, описывающий категорию уровня ежемесячного дохода клиентов.
6. В основном датафрейме создан новый столбец `purpose_category`, описывающий категорию целей кредита клиентов.
7. В датафрейме `df` не осталось описаний категориальных данных. Датафрейм `family_status_dict` - "словарь" для семейного положения. Датафрейм `educational_dict` - "словарь" для уровня образования.

## Ответы на вопросы

### Предварительный анализ данных по возврату кредита

Посчитаем, сколько и какой процент клиентов имели задолжность по кредиту?

In [37]:
print(f'Всего клиентов, имевших задолжность {df["debt"].sum()}')
f'Что составляет {df["debt"].sum()/len(df["debt"]): .1%}'

Всего клиентов, имевших задолжность 1724

'Что составляет  8.1%'

**Важно обратить внимание**, что всего данных о клиентах с задолжностью немного, поэтому при анализе дробление на слишком много случаев может привести к искажению статистической информации.

**Разделение по полу:** поскольку будет провеен анализ связи социальных параметров и кредитоспособности, важно учитывать пол клиентов, поскольку он во многом может влиять на количество детей, стаж и доход.

Сделаем сводную таблицу по связи возвратов кредита и полом.

In [38]:
# Создадим сводную таблицу
gender_pivot = df.pivot_table(index='gender', columns='debt', values='days_employed', aggfunc='count')

# Добавим два столбца с процентами вернувших и невернувших кредит от всех клиентов
gender_pivot['0-percent'] = round(gender_pivot[0]/len(df)*100, 1)
gender_pivot['1-percent'] = round(gender_pivot[1]/len(df)*100, 1)

gender_pivot

debt        0    1  0-percent  1-percent
gender
F       13037  984       61.4        4.6
M        6469  740       30.5        3.5

**Результат:**
* *В имеющихся данных женщин в два раза больше, чем мужщин*
* *В абсолютных величинах число клиентов с просроченными платежами небольшое - необходимо учитывать при дроблении на подгруппы*
* *Мужчины несколько чаще задерживают выплаты*
* *Доля просроченных платяжей невелика*

### Есть ли зависимость между количеством детей и возвратом кредита в срок?

Посчитаем количество и процент невозвратов кредитов в зависимости от количества детей

In [39]:
# Создадим сгруппированную таблицу
children_group = df.groupby('children')['debt'].agg(['count', 'sum'])

# Добавим подсчет процента просроченных кредитов
children_group['debt_percent'] = children_group['sum']/children_group['count']*100
children_group

          count   sum  debt_percent
children
0         14021  1058      7.545824
1          4792   441      9.202838
2          2039   194      9.514468
3           328    27      8.231707
4            41     4      9.756098
5             9     0      0.000000

**Важно:**  группы с 4-мя и 5-ю детьми слишком малочисленные, поэтому непрезентабельные.

Видно, что клиенты без детей не имеют задолжностей чаще, чем клиенты с детьми. При этом от количества детей, наличие задолжности практически не зависит.

Проверим, сохраняется ли такая закономерность при дополнительной группировке по полу.

In [40]:
# Создадим сводную таблицу по полу и количеству детей
children_pivot = df.pivot_table(index=['gender', 'children'], values='debt', aggfunc=['count', 'sum'])

# Удалим мультииндекс
children_pivot = children_pivot.reset_index()

# Удалим строки с 4-мя и 5-ю детьми как непрезентабельные
children_pivot = children_pivot[children_pivot['children'] < 4]

# Добавим рассчет процента невозвратов кредита
children_pivot['debt_percent'] = children_pivot['sum']/children_pivot['count']*100
children_pivot

  gender children count  sum debt_percent
                   debt debt
0      F        0  9470  589     6.219641
1      F        1  3074  243     7.905010
2      F        2  1247  134    10.745790
3      F        3   195   17     8.717949
6      M        0  4551  469    10.305427
7      M        1  1718  198    11.525029
8      M        2   792   60     7.575758
9      M        3   133   10     7.518797

И мужчины и женщины с появлением детей начинают чаще иметь задолжности. Но! Оказывается, что мужчины без детей имеют задолжности чаще, чем женщины с одним ребенком и практически так же часто, как женщины с большим числом детей. Возможно, многодетные мужчины реже имеют просрочку, но данную гипотезу необходимо проверить на большем материале.

### Есть ли зависимость между семейным положением и возвратом кредита в срок?

Посчитаем количество и процент невозвратов кредитов в зависимости от семейного положения.

In [41]:
# Создадим сгруппированную таблицу
family_status_group = df.groupby('family_status_id')['debt'].agg(['count', 'sum'])

# Добавим подсчет процента просроченных кредитов
family_status_group['debt_percent'] = family_status_group['sum']/family_status_group['count']*100
family_status_group

                  count  sum  debt_percent
family_status_id
0                 12213  923      7.557521
1                  4112  383      9.314202
2                   946   62      6.553911
3                  1179   84      7.124682
4                  2780  272      9.784173

In [42]:
# Выведем на экран "словарь" семейного положения
family_status_dict

           family_status  family_status_id
0        женат / замужем                 0
1       гражданский брак                 1
2         вдовец / вдова                 2
3              в разводе                 3
4  Не женат / не замужем                 4

**Важно:**  группы 2-"вдовец/вдова" и 3-"в разводе" не очень многочисленные, анализ в этих группах может быть статистически недостоверным при дроблении на более мелкие подгруппы.

**Наиболее надежная группа - `2-"вдовец/вдова"`, наименее надежные - `1-"гражданский брак` и `4-"не женат/не замужем`.**

Но причиной таких различий могут быть другие социальные факторы, например пол или возраст. При этом именно возраст клиентов в данном случае может оказаться ключевым

**Гипотеза:** *клиенты из группы 1 и 4 самые молодые, а из группы 2 самые пожилые, и именно это оказывается важным при изучении надежности заемщика.*

Постараемся проверить гипотезу:

In [43]:
# Добавим к таблице данные по среднему возрасту клиентов
# В данном случае выбрано среднее, поскольку выбросов в возрасте быть не может, а ср. арифметическое лучше отражает необходимый уровень

family_status_group['mean_years'] = df.groupby('family_status_id')['dob_years'].mean()
family_status_group

                  count  sum  debt_percent  mean_years
family_status_id
0                 12213  923      7.557521   43.729714
1                  4112  383      9.314202   42.286965
2                   946   62      6.553911   56.800211
3                  1179   84      7.124682   45.948261
4                  2780  272      9.784173   38.588849

**Гипотеза подтверждена частично:** 
* клиенты из группы `2-"вдовец/вдова"` - самые пожилые. Сочетание этой группы и возраста дает максимальную надежность.
* клиенты из группы `4-"не женат/не замужем`- самые молодые. Сочетание этой группы и возраста дает минимальную надежность.
* клиенты из группы `1-"гражданский брак` имеют средний возраст по группе. Их низкая надежность может быть связана именно с семейным положением.

Проверим, сохраняется ли найденные закономерности при дополнительной группировке по полу.

In [44]:
# Создадим сводную таблицу
family_status_pivot = df.groupby(['gender','family_status_id']).agg({'debt':['count', 'sum'], 'dob_years':'mean'})

# Добавим рассчет процента невозврата кредита
family_status_pivot['debt_percent'] = family_status_pivot['debt']['sum']/family_status_pivot['debt']['count']*100

family_status_pivot

                         debt       dob_years debt_percent
                        count  sum       mean
gender family_status_id
F      0                 7677  523  44.270548     6.812557
       1                 2816  231  43.132457     8.203125
       2                  891   51  56.982043     5.723906
       3                  922   61  46.714751     6.616052
       4                 1715  118  41.553936     6.880466
M      0                 4536  400  42.814374     8.818342
       1                 1296  152  40.449846    11.728395
       2                   55   11  53.854545    20.000000
       3                  257   23  43.198444     8.949416
       4                 1065  154  33.814085    14.460094

**Выводы:**

1. Численность группы вдовых мужчин небольшая, поэтому делать выводы по ней не надо.
2. Среди женщин самыми надежными плательщицами являются вдовы, что может быть связано с максимальным возрастом в этой группе. Самые ненадежные - женщины, живущие гражданским браком. Незамужние женщины показывают средний уровень надежности срежи других категорий женщин.
3. Неженатые мужчины - самые ненадежные вкладчики, что может быть обусловлено их молдым возрастом. Женатые мужчины и в разводе - самые надежные группы среди мужчин. Их надежность соответствует самому плохому варианту среди женщин.

### Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

Выведем сводную таблицу между группой по уровню дохода и возвратом кредита.

In [45]:
# Создадим сгруппированную таблицу
total_income_group = df.groupby('total_income_category')['debt'].agg(['count', 'sum'])

# Добавим подсчет процента просроченных кредитов
total_income_group['debt_percent'] = total_income_group['sum']/total_income_group['count']*100
total_income_group

                       count   sum  debt_percent
total_income_category
A                         25     2      8.000000
B                       4986   353      7.079824
C                      15850  1346      8.492114
D                        347    21      6.051873
E                         22     2      9.090909

In [46]:
# Рассчитаем средний процент невозврата кредита независимо от дохода, что бы было с чем сравнивать:
df['debt'].sum()/df['debt'].count()*100

8.120584079133302

Очевидно, что предложенное разбиение на группы не отвечает нашей задаче - группы `B` и `C` слишком многочисленные, а остальные - малочисленные. К тому же, самой рискованной группой оказывается группа `E`, а самой надежной - соседняя `D`.

Создадим новую группировку уровня дохода исходя из более равномерного распределения клиентов:

In [47]:
# Медиана дохода, его минимум и максимум
print(df['total_income'].median(), df['total_income'].min(), df['total_income'].max())

145017.0 20667 2265604

In [48]:
int_after = (1000000-df['total_income'].median())/3
print (round(df['total_income'].median()+int_after), round(df['total_income'].median()+2*int_after))

int_before = (df['total_income'].median()-df['total_income'].min())/3
print (round(df['total_income'].min()+int_before), round(df['total_income'].min()+2*int_before))

430011 715006
62117 103567

До медианного значения сделаем 3 практически равных интервала: до 65000, до 105000, до 145000
После медианы наблюдается несимметричное распределение, поэтому выберем интервалы так, что бы по численности они были приблизительно равными.

In [49]:
def income_category_func_2(income):
    """ Функция принимает доход и возвращает категорию по следующему закону:
    0–65000 — `F`
    65001–105000 — `E`
    105001–145000 — `D`
    145001–245000 — `C`
    250001-400000 - `B`
    больше 500000 — `A`
    
    
    Что бы избежать падения функции в случае передачи ей значения типа `str`, поместим все в try-except"""
    
    try:
        if income > 400000:
            return 'A'
        elif income > 245000:
            return 'B'
        elif income > 145000:
            return 'C'
        elif income > 105000:
            return 'D'
        elif income > 65000:
            return 'E'
        elif income > 0:
            return 'F'
        else:
            return f'Ошибка данных, знечение дохода: {income}'
    except:
        return 'Ошибка данных, доход не типа "int" или "float"'

In [50]:
# Теперь применим функцию к столбцу total_income
df['total_income_category_2'] = df['total_income'].apply(income_category_func_2)
df.head()

,children,days_employed,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category,total_income_category_2
0,1,8437,42,0,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью,B
1,1,4024,36,1,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем,D
2,0,5623,33,1,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью,C
3,3,4124,32,1,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования,B
4,0,340266,53,1,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы,C

In [51]:
# Создадим сгруппированную таблицу
total_income_group = df.groupby('total_income_category_2')['debt'].agg(['count', 'sum'])

# Добавим подсчет процента просроченных кредитов
total_income_group['debt_percent'] = total_income_group['sum']/total_income_group['count']*100
total_income_group

                         count  sum  debt_percent
total_income_category_2
A                          527   31      5.882353
B                         2405  172      7.151767
C                         8725  725      8.309456
D                         4547  399      8.775016
E                         3939  324      8.225438
F                         1087   73      6.715731

Теперь распределение по интервалам оказывается более равномерное - крайние группы самых богатых и бедных оказываются немногочисленными, центральные группы более или менее равны по численности.

**Вывод:**

* Вероятность невозврата достигает своего максимума при средних значениях зарплат - в интервале `105001–145000 — D`.
* Наиболее богатые и самые бедные реже задерживают выплаты.

### Как разные цели кредита влияют на его возврат в срок?

Выведем сводную таблицу между группой по цели кредита и возвратом кредита.

In [52]:
# Создадим сгруппированную таблицу
purpose_group = df.groupby('purpose_category')['debt'].agg(['count', 'sum'])

# Добавим подсчет процента просроченных кредитов
purpose_group['debt_percent'] = purpose_group['sum']/purpose_group['count']*100
purpose_group

                          count  sum  debt_percent
purpose_category
операции с автомобилем     4258  397      9.323626
операции с недвижимостью  10703  777      7.259647
получение образования      3970  369      9.294710
проведение свадьбы         2299  181      7.872988

Наименее рискованные цели оказались связаны с операциями с недвижимостью и проведением свядьбы. Цели, связанные с автомобилями и получением образования оказались одинаково более рискованные.

Проверим, сохраняется ли такая закономерность при дополнительной группировке по полу.

In [53]:
# Создадим сводную таблицу по полу и количеству детей
purpose_pivot = df.pivot_table(index=['gender', 'purpose_category'], values='debt', aggfunc=['count', 'sum'])

# Удалим мультииндекс
# purpose_pivot = purpose_pivot.reset_index()

# Добавим рассчет процента невозвратов кредита
purpose_pivot['debt_percent'] = purpose_pivot['sum']/purpose_pivot['count']*100
purpose_pivot

                                count  sum debt_percent
                                 debt debt
gender purpose_category
F      операции с автомобилем    2826  229     8.103326
       операции с недвижимостью  7017  443     6.313239
       получение образования     2634  206     7.820805
       проведение свадьбы        1544  106     6.865285
M      операции с автомобилем    1432  168    11.731844
       операции с недвижимостью  3686  334     9.061313
       получение образования     1336  163    12.200599
       проведение свадьбы         755   75     9.933775

Выявленная закономерность сохраняется полностью. И опять видно, что частота задолжности у мужчин заметно выше, чем у женщин.

### Вывод по шагу 3.

**0. Влияние пола:**
*Мужчины немного чаще женщин имеют задолжность по кредииту*

**1. Влияние количества детей:**

* Отсутствие детей уменьшает вероятность задолжности.

*Но:*
* Бездетные мужчины имеют задолжность также часто, как и женщины с детьми.
* Есть гипотеза, что мужчины с большим количеством детей реже имеют задолжность, чем мужчины с одним ребенком или без детей. - данную гипотезу необходимо проверить на дополнительном материале.

**2. Влияние семейного положения:**

* Семейное положение влияет на надежность заемщика, но его влияние связано с другими факторами* 

* Самые надежные вкладчики - вдовые женщины. Возможно, ключевым является возраст, а не семейное положение.
* Наименее надежные вкладчики - неженатые мужчины, что также может определяться их молодым возрастом
* Мужчины и женщины, живущие гражданским браком также отличаются меньшей надежностью по сравнению с остальными группами. 

**3. Влияние среднего дохода:**

* Вероятность невозврата достигает своего максимума при средних значениях зарплат - в интервале `105 001–145 000`.
* Наиболее богатые и самые бедные реже задерживают выплаты.

**4. Влияние цели кредита:**

* Наименее рискованные цели оказались связаны с операциями с недвижимостью и проведением свядьбы.
* Цели, связанные с автомобилями и получением образования оказались одинаково более рискованные.
* При разделении по полу найденные закономерности сохраняются.

## Выводы исследования

### Для изучения данных была проведена первичная обработка, исключающая возможность ошибки при анализе.

### Была проведена группировка качественных и количественных данных

### По поставленным вопросам были сделаны следующие выводы:

- Влияние количества детей: отсутствие детей уменьшает вероятность задолжности. <br>
<br>
- Влияние семейного положения: семейное положение влияет на надежность заемщика, но его влияние связано с другими социальными факторами. <br>
<br>
- Влияние среднего дохода: вероятность задолжности достигает своего максимума при средних значениях зарплат, наиболее богатые и самые бедные реже задерживают выплаты. <br>
<br>
- Влияние цели кредита: цель кредита влияет на надежность заемщиков: наименее рискованные цели оказались связаны с операциями с недвижимостью и проведением свядьбы, цели, связанные с автомобилями и получением образования оказались одинаково более рискованные.

### Дополнительные воводы:

**Влияние других факторов:**

* Пол оказывает существенное влияние на надежность клиентов - мужчины чаще женщин задерживают выплаты. Эта закономерность сохраняется при изучении влияния других факторов.

* Возраст также влияет на надежность - более молодые чаще задерживают выплаты, пожилые оказываются более надежные. Вероятно, что с этим связаны различия в надежности клиентов с разным семейным положением.

**Дополнительная гипотеза:**

Мужчины с большим количеством детей реже имеют задолжность, чем мужчины с одним ребенком или без детей.